body{
    margin: 0;
    padding: o;
}
h1,h2,h3,h4,h5,h6,a,ul,li,p,img{
    margin: 0;
    padding: 0;
}
/* logo-menu start */
#logo-menu{
    background-color: rgb(135, 81, 157);
    height: 370px;
    
}
.content{
    width: 1030px;
    margin: 0 auto;
    padding: 35px 0;
}
.logo h2{  
    font-size:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    float: left;
    color: white;
    font-style: italic;
}
.menu ul{
    margin-left: 575px;
    margin-top: 10px;
    
}
.menu ul li{
    list-style: none;
    display: inline;
    margin: 9px;
    
}
.menu ul li a{
    text-decoration: none;
    color:white;
    padding: 10px 8px;
}
.menu ul li a:hover{
    background-color:rgb(98,61,118);
    padding: 10px 8px;
}
.welcoming{
    padding:70px 150px;
}
.welcoming h1{
    color: white;
    font-size: 38px;
    
}
.welcoming h2{
    font-size: 38px;
    margin-left: -50px;
    color: white;
}
.button {
    margin-top: -30px;
    margin-left: 400px;
}
.button a{
    color: white;
    text-decoration: none;
    background-color: rgb(238, 123, 72);
    padding: 14px 40px;
    
}
/* logo-menu end */

/* services section strat */

#services{
    background-color: rgb(23,193, 164);
    height: 550px;
}
.service {
    margin-left: 260px;
}

.service h3{
    margin-top: 18px;    
    font-size: 16px;
    color: white;
    margin-left: -140px;
}
.service h4{
    color: white;
    margin-top: 5px;
    margin-left: 15px;
}
.box{
    margin-left: 130px;
    float: left;
}
.box h2{
    margin-top: 20px;
    font-size: 16px;
    color: whitesmoke;
    margin-left: 35px;
}
.box p{
    margin-top: 17px;
    color: wheat;
    margin-left: 24px;
}
.box i{
    font-size: 60px;
    margin-left: 55px;
    color: rgb(166, 255, 0);
}

/* services section end */
/* about team member start */
  #about-team{
    background-color: rgb(240, 241, 248);
    height: 650px;
  }
.about h1{
    margin-left: 220px;
}
  .about p{
    margin-top: 15px;
    color: rgb(125, 129, 136);
    margin-left: 122px;
  }
.round-box{
    margin-top: 12px;
    height: 150px;
    width: 150px;
    border-radius:50%;
    background-color: rgb(135,135, 135);
    
}
.box-1 h2{
    color: rgb(75, 84, 94);
    font-family: initial;
    font-weight: 950;
    margin-top: 50px;
    margin-left: 15px;
}
.box-1 h6{
    margin-top: 5px;
    color: rgb(0, 162, 255);
    margin-left: 32px;
    font-size: 9px;
}
.box-1 p{
    color:rgb(146, 151, 155) ;
}
.box-1 i{
    font-size:19px;
    margin:3px;
    margin-left: 14px;
    color: rgb(162, 171, 179);    
}
/* about team member end */

/* we got-skill section start*/
#skils{
      height: 450px;
}
.skills h1{
    color:rgb(39, 42, 51);
    margin-left: 95px;
}
.skills h3{
   color: rgb(168, 168,168);
}
.skills h4{
    color:  rgb(168, 168,168);
    margin-left: 55px;
}

.loader{
    float: left;
    margin: 10px;
    height: 100px;
    width: 200px;
}

.loader{
    margin-left:55px ;
}
.loader h1{
    color: rgb(43, 40, 40);
    font-size: 35px;
    position: relative;
    left: 76px;
    top: 20px;
    z-index: 5;
    
}
.loader i{
    font-size: 150px;
    z-index: 1;
    position: absolute;
    margin-left: 35px;
}
.loader h2{
    color: rgb(43, 40, 40);
    font-size: 16px;
    /* margin-top: 110px;
    padding-left: 24px; */
    left: 30px;
    top: 90px;
    margin: 20px;
    position: relative;
}

/* we got-skill section end */
/* portfolio section start */
#portfolio{
    background-color: rgb(255, 220, 154);
    height: 800px;
}

.menu-2{
    margin-left: -112px;
}
.menu-2 ul li a{
       background-color: rgb(230, 191, 119);
       padding: 9px 19px;
       color: black;
       font-weight: 700;
}
.menu-2 ul li a:hover{
    background-color: white;
    padding: 9px 19px;
}

.portfolio{
    float: left;
    display: flex;
    position: relative;
    left: 355px;
    top: 20px;
    margin-left: 50px;
    
}
.portfolio img{
    height: 180px;
    width: 250px;
}
.portfolio h6{
    position: absolute;
    top: 170px;
    left: 70px;
    color:rgb(119, 100, 50) ;
    font-size: 12px;
}
.button-2{
    position: relative;
    top: 300px;
    left: -33px;
}
.button-2 a{
    background-color: rgb(13, 188, 162);
    
}
/* portfolio section end */
/* people say about us start */
   
#about-us{
    height: 800px;
    background-color: rgb(215, 70, 127);
}
.about-us h2{
    color: rgb(255, 248, 255);
    margin-left: 210px;
    
}
.about-us p{
    color:rgb(255, 248, 255);
    margin-left: 380px;
    margin-top: 20px;
}
.image-box{
    display: flex;
    
}
.left{
   margin-left: 180px;
    width: 40%;
}
.left img{
    float: left;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.about-him{
    position: relative;
    left: 20px;
}
.about-him p{
    color:rgb(246, 160, 200);
}
.about-him h2{
    color:rgb(255, 228, 255) ;
    padding-top: 4px;
}
.about-him h6{
    color: rgb(252, 137, 169);
    padding-top: 3px;
}
.right{
    width: 40%;

}
.right img{
    float: left;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.image-box-2{
    display: flex;
    margin-top: 160px;
}
.boxes-1{
 
    margin-left: 180px;
    width: 40%;
}
.boxes-1 img{
   float: left;
    height: 90px;
    width: 90px; 
    border-radius: 50%;
}
.boxes-2{
    width: 40%;
}
.boxes-2 img{
    float: left;
    height: 90px;
    width: 90px; 
    border-radius: 50%;
}
/* people say about us end */
/*get in touch section start */
         #get-in-touch{
            background-color: rgb(61,84, 154);
            height: 600px;
        }
        .get-in-touch h1{
             position: relative;
             left: 150px;
        }
        .get-in-touch p{
             position: absolute;
             left: 32px;
        }
        .massage{
            position: relative;
            top: 100px;
            margin-left: 390px;
            
        }
        .name input{
            padding: 8px 45px;
            background-color: rgb(38, 57, 113);
            color: white;
            float: left;
            margin-right: 6px;
            position: relative;
        }
        .name input::placeholder{
            color: white;
            position: absolute;
            left: 15px;
            
        }
       .email input{
        padding: 8px 45px;
        background-color: rgb(38, 57, 113);
        color: white;
        float: left;
        position: relative;
       }
       .email input::placeholder{
        color: white;
        position: absolute;
        left: 15px;

       }
       .text input{
        margin-top: 15px;
        padding: 50px 180px;
        background-color: rgb(38, 57, 113);
        color: white;
        position: relative;
       }
       .text input::placeholder{
        color: white;
        position: absolute;
        left: 15px;
        top: 16px;
       }
       
       .button-3{
        position: relative;
       }
       .button-3 a{
           position: absolute;
           right: 565px;
           bottom: 100px;
           background-color: rgb(49, 187, 233);
       } 
/* get-in-touch section end */
/* footer menu section start */
   #menu{
    height: 80px;
    background-color:rgb(50, 73, 142) ;
   }

   .menus ul{
      margin-left: 300px;
   }
   .menus ul li{
    list-style: none;
     display: inline;
    margin: 25px;
        position: relative;
        top: 35px;
   }
   .menus ul li a{
    color: white;
    text-decoration: none;

   }
   .menus ul li a:hover{
    color:rgb(125, 179, 218);
   }
/* footer menu section start */